body {
  padding-top: 50px;
  background-image: url(https://i.imgur.com/f9dGiB7.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.signUpLink {
  font-weight: bold;
}

.navbar {
  display: none;
}

.failure {
  color: red;
}

.success {
  color: green;
}

#signInFailMessage {
  display: none;
}

#signUpSuccessMessage {
  display: none;
}

#signUpFailMessage {
  display: none;
}

#signOutFailMessage {
  display: none;
}

#changePassSuccessMessage {
  display: none;
}

#changePassFailMessage {
  display: none;
}

#startGameFailMessage {
  display: none;
}

#updateGameFailMessage {
  display: none;
}

#getGamesFailMessage {
  display: none;
}

#newRoundButton {
  display: none;
  background: yellow;
  color: black;
  font-weight: bold;
}

#addNewRoundFailMessage {
  display: none;
}

#addNewRoundModal {
  display: none;
}

.title {
  display: none;
  color: yellow;
  font-weight: bold;
}

#pageContent {
  text-align: center;
}

#sign-up {
  display: none;
}
