body {
  padding-top: 50px;
  background-image: url(https://i.imgur.com/f9dGiB7.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.signUpLink {
  font-weight: bold;
}

.navbar {
  display: none;
}

.failure {
  color: red;
}

.success {
  color: green;
}

#signInFailMessage {
  display: none;
}

#signUpSuccessMessage {
  display: none;
}

#signUpFailMessage {
  display: none;
}

#signOutFailMessage {
  display: none;
}

#changePassSuccessMessage {
  display: none;
}

#changePassFailMessage {
  display: none;
}

#startGameFailMessage {
  display: none;
}

#updateGameFailMessage {
  display: none;
}

#getGamesFailMessage {
  display: none;
}

#newRoundButton, #getRoundsButton {
  display: none;
  background: yellow;
  color: black;
  font-weight: bold;
}

#addNewRoundFailMessage {
  display: none;
}

#addNewRoundModal {
  display: none;
}

.title {
  display: none;
  color: yellow;
  font-weight: bold;
}

#pageContent {
  text-align: center;
}

#sign-up {
  display: none;
}

#getRoundsFailMessage {
  display: none;
}

#updateRoundFailMessage {
  display: none;
}

#deleteRoundFailMessage {
  display: none;
}

#showRoundFailMessage {
  display: none;
}

.rounds-list {
  color: yellow;
}

.editRoundButton, .deleteRoundButton {
  background-color: black;
  margin: 2px;
}

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
	#rounds-table table,
	#rounds-table thead,
	#rounds-table tbody,
	#rounds-table th,
	#rounds-table td,
	#rounds-table tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#rounds-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#rounds-table tr { border: 1px solid #ccc; }

	#rounds-table td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}

	#rounds-table td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	#rounds-table td:before { content: attr(data-title); }
}

th {
  background-color: rgba(88,88,88,1);
}

td {
  background-color: rgba(160,160,160,.8);
}
